.chart-container{
  background-color: transparent;
  
}

.section-divider{
  height: 10px;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px)  {
.nav-btn3 {
    background-color: rgb(244,173,44);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width:300px;
    height: 70px;
    border-radius: 15px;
    margin-left: 75%;
    margin-right: 5%;
  }
}
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .nav-btn3 {
    display:none;
  }
}